select {
  width: 50px;
  height: 20px;
  border: 1px solid black;
  overflow: auto;
  color: black;
}

.playersChoosen {
  color: black;
  font-size: 100px;
}

#content {
    width: 500px;
    margin: 0px auto;
    text-align:left;
    padding: 15px;
    border: 1px dashed 333;
    background-color: #eee;
}
body {
    margin: 50px 0px;
    padding: 0px;
    text-align: center;
}

button{
  color: black;
  border: 1px solid black;

}
.container {
  position: relative;
  width: 100%;
  max-width: auto;
}

.container img {
  width: 100%;
  height: auto;
}

@keyframes changeColor {
  from {color: black;}
  to {color:aliceblue;}
}

.container .startBtn {
  font-family: 'Neucha', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(22, 19, 19);
  
  color: aliceblue;
  
  animation-name: changeColor;
  animation-duration: 3s;
  
  opacity: 0.7;
  font-size: 17px;
  padding: 16px 30px;
  border: 1ps;
  border-color: aliceblue;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .startBtn:hover {
  background-color: azure;
  color: black;
}

button#add-player{
  border-radius: 5px;
  font: 300;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  margin: 0 auto;
}
button#add-player:disabled{
  border-radius: 5px;
  font: 300;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(160, 160, 160);
}

div.playersName {
  font-family: 'Open Sans', sans-serif;
  width: 200px;
  margin: 0 auto;
  padding-top: 10px;
}



