
/* Background and button
       Start page */

body{
  margin: 0;
  overflow: hidden;
  background-color: rgb(207, 248, 237);
  animation-name: colorchange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

ul {
  width: auto;
  text-align: center;
}

@keyframes colorchange
{
  10%   {background: rgb(192, 177, 177);}
  25%  {background: rgb(233, 164, 164);}
  55%  {background: rgb(76, 243, 174);}
  75%  {background: rgb(83, 250, 250);}
  90% {background: rgb(239, 203, 120);}
  30% {background: rgb(102, 238, 165);}
}

/* Text */

.gamecontainer {
  position: relative;
  width: 100%;
  max-width: auto;
}

p.scrabble {
font-family: 'Stalinist One', cursive;
 font-size: 10vh;
 text-align: center;
 color: rgba(135, 147, 214, 0.431);
 text-shadow: 3px 3px rgb(42, 30, 24);
 animation-name: move;
 animation-duration: 4s; 
 cursor: default;


}

@keyframes move {
  0% {
    transform: translate(-20%, 0);
  }

  50% {
    text-shadow: 0 15px 40px;
  }

  5% {
    transform: translate(20%, 0);
  }
}

.rules-window .rule-title {
  color: rgb(29, 36, 43);
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: 35px;
}

.rules-window .add-rules {
  font-family: 'Neucha', cursive;
  position: fixed;
  /*removed top. Doesn't work when position is relative*/
  /*doen't work with percentage '%'*/
  top: 30%;
  left: 30%;
  color: rgb(40, 20, 20);
  font-size: 18px;
  border: 3px solid aliceblue;
  border-radius: 10px;
  background-color: lightblue;
  width: 35%;
  height: 50vh;
  padding: 5vh;
  overflow: auto;
}

.rules-window .close {
  position: absolute;
  cursor: pointer;
  top: 6%;
  left: 87%;
 
}

.close .hover-text {
    visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.close .hover-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.close:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

 .game-menu button {
  font-family: 'Neucha', cursive;
  font-size: 20px;
  background-color: black; /* black background */
  opacity: 0.7;
  border: 5px solid aliceblue; /* Aliceblue border */
  border-radius: 5px;
  color: white; /* White text */
  padding: 20px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 20%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  position: relative;
  left: 40%;
  top: 60vh;
}

.game-menu button:hover {
    background-color: azure;
  color: black;
}

.game-menu button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.game-menu button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0px;
  right: -20px;
  transition: 0.5s;
}

.game-menu button:hover span {
  padding-right: 30px;
}

.game-menu button:hover span:after {
   opacity: 1;
   right: 0;
}

